# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuales
.venv/
venv/
env/

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env

# Flask
instance/

# Archivos generados localmente
uploads/original/*
uploads/segmented/*
reports/*

# Mantener estructura de carpetas
!uploads/original/.gitkeep
!uploads/segmented/.gitkeep
!reports/.gitkeep


# Model checkpoints
checkpoints/*
!checkpoints/.gitkeep

# SAM test outputs
outputs/*
!outputs/sam_legacy/
!outputs/sam_legacy/.gitkeep